/dts-v1/;

/include/ "bcm7429.dtsi"

/ {
	compatible = "brcm,bcm97429dvr", "brcm,bcm7429";
	model = "Broadcom BCM97429DVR";

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x10000000>,
		      <0x20000000 0x30000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200 earlyprintk";
		stdout-path = &uart0;
	};

	rdb {
		sun_top_ctrl_general_no_scan0: syscon@4040a4 {
			compatible = "brcm,bcm7429-sun-top-ctrl-general-no-scan", "syscon";
			reg = <0x4040a4 0x4>;
		};
	};

	/* Save the RGMII voltage settings */
	s3 {
		syscon-refs = <&sun_top_ctrl_general_no_scan0>;
	};
};

&uart0 {
	status = "okay";
};

&enet0 {
	status = "okay";
};

&enet1 {
	status = "okay";
};

&moca {
	status = "okay";
};

&usbphy_0 {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

/* Second USB port is not functioning */

&sata {
	status = "okay";
};

&sata_phy {
	status = "okay";
};

&nand {
	status = "okay";

	nandcs@0 {
		#size-cells = <0x2>;
		#address-cells = <0x2>;
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-on-flash-bbt;

		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;

		rootfs@0 {
			reg = <0x0 0x0 0x0 0x0>;
		};

		kernel@1 {
		        reg = <0x0 0x0 0x0 0x0>;
		};

		flash@0 {
			reg = <0x0 0x0 0x1 0x0>;
		};
	};
};

&sdhci0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_core_pins>;
};

&sdhci1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&hif_emmc_pins>;
};

&brcm_pmx_core {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&moca_bsc_m3_pins>, <&genet_0_mii_pins>;

	sdio0_core_pins: pinmux_sdio0_pins {
		pinctrl-single,bits = <
			0x2c 0x00050000 0x000f0000 /* gpio_092 <- SDIO0_VCTL */
			0x38 0x00100000 0x00f00000 /* gpio_122 <- SDIO0_CMD */
			0x38 0x01000000 0x0f000000 /* gpio_123 <- SDIO0_WPROT */
			0x38 0x10000000 0xf0000000 /* gpio_124 <- SDIO0_PWR0 */
			0x3c 0x00000001 0x0000000f /* gpio_125 <- SDIO0_CLK */
			0x3c 0x00000010 0x000000f0 /* gpio_126 <- SDIO0_DATA0 */
			0x3c 0x00000100 0x00000f00 /* gpio_127 <- SDIO0_DATA1 */
			0x3c 0x00001000 0x0000f000 /* gpio_128 <- SDIO0_DATA2 */
			0x3c 0x00010000 0x000f0000 /* gpio_129 <- SDIO0_DATA3 */
			0x3c 0x00100000 0x00f00000 /* gpio_130 <- SDIO0_PRES */
			0x3c 0x01000000 0x0f000000 /* gpio_131 <- SDIO0_LED */

			0x6c 0x00008000 0x0000c000 /* gpio_122 <- SDIO0_CMD */
			0x6c 0x00020000 0x00030000 /* gpio_123 <- SDIO0_WPROT */
			0x6c 0x00080000 0x000c0000 /* gpio_124 <- SDIO0_PWR0 */
			0x6c 0x00200000 0x00300000 /* gpio_125 <- SDIO0_CLK */
			0x6c 0x00800000 0x00c00000 /* gpio_126 <- SDIO0_DAT0 */
			0x6c 0x02000000 0x03000000 /* gpio_127 <- SDIO0_DAT1 */
			0x6c 0x08000000 0x0c000000 /* gpio_128 <- SDIO0_DAT2 */
			0x6c 0x20000000 0x30000000 /* gpio_129 <- SDIO0_DAT3 */
			0x70 0x00000002 0x00000003 /* gpio_130 <- SDIO0_PRES */
			0x70 0x00000008 0x0000000c /* gpio_131 <- SDIO0_LED */
		>;
	};

	genet_0_mii_pins: genet_mii_pins {
		/* Intentionally do not pinmux MII_MDIO and MII_MDC such that
		 * even with this configuration selected, the internal PHY
		 * remains usable
		 */
		pinctrl-single,bits = <
			0x3c 0x10000000 0xf0000000 /* gpio_132 <- MII_RX_DV */
			0x40 0x00000001 0x0000000f /* gpio_133 <- MII_RX_ER */
			0x40 0x00000010 0x000000f0 /* gpio_134 <- MII_RX_CLK */
			0x40 0x00000100 0x00000f00 /* gpio_135 <- MII_COL */
			0x40 0x00001000 0x0000f000 /* gpio_136 <- MII_CRS */
			0x40 0x00100000 0x00f00000 /* gpio_138 <- MII_TX_CLK */
			0x40 0x01000000 0x0f000000 /* gpiO_139 <- MII_RXD_03 */
			0x40 0x10000000 0xf0000000 /* gpiO_140 <- MII_RXD_02 */
			0x44 0x00000001 0x0000000f /* gpio_141 <- MII_RXD_01 */
			0x44 0x00000010 0x000000f0 /* gpio_142 <- MII_RXD_00 */
			0x44 0x00000100 0x00000f00 /* gpio_143 <- MII_TXD_03 */
			0x44 0x00001000 0x0000f000 /* gpio_144 <- MII_TXD_02 */
			0x44 0x00010000 0x000f0000 /* gpio_145 <- MII_TXD_01 */
			0x44 0x00100000 0x00f00000 /* gpio_146 <- MII_TXD_00 */
			0x44 0x01000000 0x0f000000 /* gpio_147 <- MII_TX_EN */
			0x44 0x10000000 0xf0000000 /* gpio_148 <- MII_TX_ER */
		>;
	};

	moca_bsc_m3_pins: pinmux_moca_bsc_m3_pins {
		pinctrl-single,bits = <
			0x48 0x00000010 0x000000f0 /* sgpio_00 <- BSC_M3_SCL */
			0x48 0x00000100 0x00000f00 /* sgpio_01 <- BSC_M3_SDA */
		>;
	};
};

&brcm_pmx_hif_emmc_pinctrl {
	status = "okay";

	hif_emmc_pins: pinmux_all_pins {
		pinctrl-single,bits = <
			0x0 0x00000001 0x00000003 /* HIF_TOP_CTRL.EMMC_PIN_SEL*/
		>;
	};
};
